html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

.parent{
    height: 100px;
    width: 100px;
    background-color: red;
}

@media(min-width: 600px){
    .parent{
        height: 200px;
        width: 200px;
        background-color: blue;
    }
}