.parent{
    height: 50vh;
    width: 50vw;
    background-color: blueviolet;
}

.child{
    height: 25vh;
    width: 25vw;
    background-color: brown;
}

p{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}