*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.images{

width: 100%;
background-color: wheat;
display: grid;
grid-template-areas: 
"a"
"b"
"c"
"d"
"e"
"f"
"g"
"h"
"i"
"j";
gap: 10px;
}

@media(min-width:820px){
    .images{
        display: grid;
grid-template-areas:
"a a b c"
"a a d e"
"f g j j"
"h i j j";
gap: 10px;
    }
}

.image-a{
    grid-area: a;
}
.image-b{
    grid-area: b;
}
.image-c{
    grid-area: c;
}
.image-d{
    grid-area: d;
}
.image-e{
    grid-area: e;
}
.image-f{
    grid-area: f;
}
.image-g{
    grid-area: g;
}
.image-h{
    grid-area: h;
}
.image-i{
    grid-area: i;
}
.image-j{
    grid-area: j;
}